.iconsax {
  font-family: 'iconsax';
  font-weight: 400;
}
@font-face {
  font-family: 'iconsax';
  font-style: normal; /* whatever is required for your */
  font-weight: 400;   /* webfont.... */
  src: url("./public/fonts/Iconsax/css/fonts/i") format("woff");
}
